# Case Study on Testing of Hypothesis

A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.


● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.


● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.

I) Loading the data set

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
df=pd.read_csv('Sales_add.csv')
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

The insights are as below.

1. 22 samples and 5 features are there

2. There exists no null value in the dataset

3. Out of 5 features, 2 are of integer type and 3 are of object type.

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

# Hypothesis:
H0: he average sales before and after digital marketing is same.

Ha:The average sales increased after stepping into digital marketing

alpha: 0.05

Hence performing one-tailed t-test on the dataset to analyse our hypothesis

In [11]:
data1 = df.drop(['Month','Region','Manager'],axis=1)
Sales_before = df['Sales_before_digital_add(in $)']
Sales_After = df['Sales_After_digital_add(in $)']
stat, p = stats.ttest_rel(Sales_before, Sales_After)
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=-12.091, p=0.000

In [12]:
if p > 0.05:
    print('Accept null hypothesis that The average sales before and after digital marketing is same ')
else:
    print('Reject the null hypothesis and accept that The average sales increased after stepping into digital marketing')

Reject the null hypothesis and accept that The average sales increased after stepping into digital marketing

# The company needs to check whether there is any dependency between the features “Region” and “Manager”

# Hypothesis:
H0: (null hypothesis) The two variables are independent.

H1: (alternative hypothesis) The two variables are not independent.

alpha = 0.05

In [13]:
df['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [14]:
df['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [15]:
crosstab = pd.crosstab(df.Region, df.Manager, margins=True)
crosstab

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [16]:
stats.chi2_contingency(crosstab)

(3.050566893424036,
 0.962256341757093,
 9,
 array([[ 4.09090909,  3.18181818,  2.72727273, 10.        ],
        [ 2.86363636,  2.22727273,  1.90909091,  7.        ],
        [ 2.04545455,  1.59090909,  1.36363636,  5.        ],
        [ 9.        ,  7.        ,  6.        , 22.        ]]))

Chi-Square Test Statistic: 3.05

p-value: 0.962

Degrees of freedom: 9

Array: The last array displays the expected values for each cell in the contingency table.

Since the p-value (.962) of the test is not less than 0.05, we fail to reject the null hypothesis. It cant be said that there exists relation/ association between manager and region